In [4]:

import pandas as pd
import matplotlib as plt
import xport 
import csv

In [49]:
df = pd.read_csv('..\data\Food_table_2013.csv')

USA_df = df[df['Area Abbreviation'] == 'USA']
UK_df = df[df['Area Abbreviation'] == 'GBR']

joined_df = USA_df.append(UK_df)
joined_df

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
20394,USA,231,United States of America,2511,Wheat and products,5521,Feed,21393 tonnes,37.09,-95.71,...,4953.0,4354.0,3187.0,436.0,6260.0,4899.0,3620.0,4898.0,9943,6196
20395,USA,231,United States of America,2511,Wheat and products,5142,Food,21394 tonnes,37.09,-95.71,...,24511.0,24869.0,25250.0,25793.0,25302.0,24959.0,25167.0,25050.0,25757,25742
20396,USA,231,United States of America,2805,Rice (Milled Equivalent),5142,Food,21395 tonnes,37.09,-95.71,...,1943.0,2021.0,2075.0,2104.0,2104.0,2118.0,2194.0,2127.0,2175,2203
20397,USA,231,United States of America,2513,Barley and products,5521,Feed,21396 tonnes,37.09,-95.71,...,2238.0,1035.0,1071.0,653.0,1415.0,1057.0,1089.0,827.0,1441,1440
20398,USA,231,United States of America,2513,Barley and products,5142,Food,21397 tonnes,37.09,-95.71,...,158.0,152.0,162.0,164.0,169.0,166.0,167.0,164.0,160,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20260,GBR,229,United Kingdom,2948,Milk - Excluding Butter,5142,Food,21259 tonnes,55.38,-3.44,...,14166.0,15009.0,14550.0,14701.0,15092.0,14640.0,15003.0,14958.0,14891,14718
20261,GBR,229,United Kingdom,2960,"Fish, Seafood",5521,Feed,21260 tonnes,55.38,-3.44,...,690.0,648.0,652.0,417.0,405.0,516.0,454.0,297.0,292,211
20262,GBR,229,United Kingdom,2960,"Fish, Seafood",5142,Food,21261 tonnes,55.38,-3.44,...,1292.0,1267.0,1374.0,1328.0,1309.0,1241.0,1224.0,1277.0,1275,1316
20263,GBR,229,United Kingdom,2961,"Aquatic Products, Other",5142,Food,21262 tonnes,55.38,-3.44,...,0.0,0.0,1.0,5.0,1.0,1.0,0.0,1.0,1,0
20264,GBR,229,United Kingdom,2928,Miscellaneous,5142,Food,21263 tonnes,55.38,-3.44,...,32.0,36.0,38.0,31.0,36.0,35.0,37.0,60.0,76,95