In [26]:

import pandas as pd
import matplotlib as plt
from pymongo import MongoClient
import xport 
import csv

In [32]:
my.config["MONGO_URI"] = "mongodb://localhost:27017/phone_app"
mongo = PyMongo(app)

collection = db['']

NameError: name 'db' is not defined

In [25]:
df = pd.read_csv('..\data\Food_table_2013.csv')

USA_df = df[df['Area Abbreviation'] == 'USA']
UK_df = df[df['Area Abbreviation'] == 'GBR']
FRA_df = df[df['Area Abbreviation'] == 'FRA']

joined_df = USA_df.append([UK_df, FRA_df])
cleaned_joined_df = joined_df[['Area Abbreviation', 'Area Code', 'Item', 'Item Code', 'Element', 'Element Code', 'Unit', 'latitude', 'longitude', '2012', '2013']]

no_zeros = (cleaned_joined_df != 0).any(axis=1)

new_zero_df = cleaned_joined_df.loc[no_zeros]

new_zero_df

,Area Abbreviation,Area Code,Item,Item Code,Element,Element Code,Unit,latitude,longitude,2012,2013
20394,USA,231,Wheat and products,2511,Feed,5521,21393 tonnes,37.09,-95.71,9943,6196
20395,USA,231,Wheat and products,2511,Food,5142,21394 tonnes,37.09,-95.71,25757,25742
20396,USA,231,Rice (Milled Equivalent),2805,Food,5142,21395 tonnes,37.09,-95.71,2175,2203
20397,USA,231,Barley and products,2513,Feed,5521,21396 tonnes,37.09,-95.71,1441,1440
20398,USA,231,Barley and products,2513,Food,5142,21397 tonnes,37.09,-95.71,160,160
...,...,...,...,...,...,...,...,...,...,...,...
7045,FRA,68,Milk - Excluding Butter,2948,Food,5142,8044 tonnes,46.23,2.21,15151,15514
7046,FRA,68,"Fish, Seafood",2960,Feed,5521,8045 tonnes,46.23,2.21,115,129
7047,FRA,68,"Fish, Seafood",2960,Food,5142,8046 tonnes,46.23,2.21,2125,2152
7048,FRA,68,"Aquatic Products, Other",2961,Food,5142,8047 tonnes,46.23,2.21,5,4
7049,FRA,68,Miscellaneous,2928,Food,5142,8048 tonnes,46.23,2.21,0,0